body {
  font-family: "Merriweather", serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  font-size: 4em;
  margin: 0;
}

h2 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  margin: 25px auto;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #8f8f8f;
  border-width: 5px;
  width: 5%;
}

/* Home Section  */

#home {
  background-color: #e8ffe8;
  padding-top: 100px;
  position: relative;
}

.mountain {
  margin-top: 70px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 270px;
}

/* Main Body Stylying */

.main-body {
  padding: 30px;
}

.main-body h2 {
  font-size: 1.7em;
}

.profile {
  border-radius: 100%;
  margin: 0 auto;
}

.main-body p {
  font: 1.2em "Montserrat", sans-serif;
  margin: 0;
  padding: 20px 0;
  line-height: 1.5;
}

/* Skill Section  */

#skills {
  background-color: #e8ffe8;
}

#skills img {
  margin: 20px;
}

/* Comfort Zone Section  */

#comfort-zone {
  margin: 0 250px;
  padding: 0;
}

.my-zone-div {
  margin: 50px auto;
  text-align: left;
}

.avatar-I {
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.avatar-II {
  float: right;
  width: 25%;
}

.avatar-I {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.avatar-II {
  float: right;
  width: 25%;
}

/* Contact-Me Section  */

#contact-me {
  background-color: #e8ffe8;
}

footer {
  padding: 25px 0;
  text-align: center;
  font-size: 0.8em;
  color: #8f8f8f;
}

footer a {
  padding: 35px 25px;
  color: blue;
  font-size: 1.2em;
}

footer a:hover {
  font-size: 2em;
}

@media (max-width: 820px) {
  img.mountain {
    display: none;
  }

  img.top-cloud {
    display: none;
  }

  img.bottom-cloud {
    display: none;
  }

  #home h2 {
    padding-bottom: 50px;
  }

  #comfort-zone {
    margin: 0 10%;
  }
}
